@font-face {
    font-family: Clash Display Variable;
    src: url('./PageComponent/assets/fonts/fonnts.com-Clash_Display_Variable_Bold.ttf');
}

@font-face {
    font-family: Archivo;
    src: url('./PageComponent/assets/fonts/Archivo-VariableFont_wdth\,wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    background-color: #11111B;
}

::selection {
    background: #ffffff09;
    filter: blur(8px);
    color: rgb(106, 0, 148);
}

h1 {
    font-size: 60px;
    font-family: Clash Display Variable;
    background: -webkit-linear-gradient(left,  #eee, #DAC8FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

p {
    font-family: Archivo;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    letter-spacing: 1px;
}

@media only screen and (max-width: 768px) {
    body {
        width: 100%;
        overflow-x: hidden;
    }

    h1 {
        font-size: 40px;
    }
}